# pyoptinterface package with the Highs solver.
# Note: until linux/aarch64 wheels are available on PyPI, the necessary wheel is hosted independently on GitHub.
highsbox==1.7.2.post2
https://merschformann.github.io/random/content/wheels/pyoptinterface/pyoptinterface-0.2.8-cp311-cp311-manylinux_2_17_aarch64.manylinux2014_aarch64.whl

# Other packages.
nextmv==0.11.1
