# Look for AMPL’s packages in the AMPL package index.
--index-url https://pypi.ampl.com
--extra-index-url https://pypi.org/simple

amplpy==0.13.3
ampltools==0.7.5
ampl-module-base==20240126
ampl-module-copt==20240115
ampl-module-cbc==20240115
ampl-module-gcg==20240221
ampl-module-gecode==20220504
ampl-module-gokestrel==20211022
ampl-module-gurobi==20240115
ampl-module-highs==20240115
ampl-module-lgo==20190908
ampl-module-open==20240121
ampl-module-scip==20240121
ampl-module-xpress==20240115

nextmv==v0.10.3.dev0
pandas==2.2.2
